/*
	This is the Cascading Style Sheet for my science page
*/

body
    {
    color: black;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    }

img
	{
	border: 0;
	}

div.header, div.footer
	{
	width: 100%;
	}

div.header img.nas_logo
	{
	float: left;
	margin: 0.5em 1em;
	}

div.header div.seti
	{
	float: left;
	margin: 0.5em 1em;
	}

div.npp a
	{
	color: black;
	display: block;
	}

div.npp a#npp
	{
	font-size: xx-large;
	}

div.npp a#orau
	{
	width: 100%;
	font-size: smaller;
	text-align: right;
	}

div.header img.nasa_logo, div.header img.arc_logo
	{
	float: right;
	margin: 0.5em 1em;
	}

/*div.title, div.contact*/
div.title, div.description
	{
	clear: both;
	}

div.title img
	{
	float: left;
	margin-top: 1em;
	margin-right: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	}

div.title h1.name
	{
	margin: 2em;
	}

div.title ul
	{
	list-style-type: none;
	}

div.contact table
	{
	margin-left: auto;
	margin-right: auto;
	}

div.contact table td.postal
	{
	padding-right: 3em;
	}

div.contact table td.label
	{
	text-align: right
	}

div.references span.keyauth {font-weight: bolder;}
div.references ul
        {
        margin-left: 4em;
        margin-right: 4em;
        padding-left: 3em;
        text-indent: -3em;
        list-style-type: none;
        }
div.references ul li { padding-bottom: 0.5em; }


div.footer img
	{
	float: right;
	}

div.footer p
	{
	margin-top: 3em;
	vertical-align: bottom;
	text-align: center;
	font-size: smaller;
	}
